<div class="effectmacro">
    <label>Effect Macro</label>
    {{#each usedOptions as |option|}}
    <div class="form-group">
        <label></label>
        <div class="form-fields">
            <span class="trigger-name">{{localize option.label}}</span>
            <button type="button" data-key="{{option.key}}" id="effectmacro-usedOption">
                <i class="fas fa-edit"></i> {{localize "EFFECTMACRO.APPLYMACRO.EDIT_THIS"}}
            </button>
        </div>
    </div>
    {{/each}}
    {{#if remainingOptions.length}}
    <div class="form-group">
        <label>{{localize "EFFECTMACRO.APPLYMACRO.NEW_TRIGGER"}}</label>
        <div class="form-fields">
            <select class="effectmacro-config-select" id="effectmacro-unusedOption-select">
                {{{remainingOptions}}}
            </select>
            <button type="button" id="effectmacro-unusedOption">
                <i class="fas fa-plus"></i> {{localize "EFFECTMACRO.APPLYMACRO.ADD_THIS"}}
            </button>
        </div>
    </div>
    {{/if}}
</div>
