<div class="standard-form">
  <fieldset>
    {{formGroup field value=value name=name rows=30}}
  </fieldset>
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fa-solid fa-save"></i> {{localize "Save"}}
    </button>
  </footer>
</div>
