fieldset.effectmacro {
  .form-fields { flex: 1; }
  .label { padding-left: 5px; }
  [data-action] { flex: 0; padding: 5px; }
  .used-option:nth-child(even) { background-color: #c0c0c080; border-radius: 5px; }
}
